<!doctype html>
<html data-theme="autumn">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/main.css" rel="stylesheet">
  <script src="jquery-3.6.0.min.js"></script>
</head>
{{/* {{template "header"}} */}}

{{template "sidebar"}}
<div class="container mx-auto px-4 py-4">
</div>
{{/* <div class="grid grid-cols-2 gap-10 px-12 py-12">
  {{template "card" "Physics"}}
  {{template "card" "Medicine"}}
  {{template "card" "Biology"}}
  {{template "card" "Neuroscience"}}
</div> */}}
{{template "upload_modal"}}

{{template "footer"}}

</html>