<!doctype html>
<html data-theme="bumblebee">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/main.css" rel="stylesheet">
    <script src="jquery-3.6.0.min.js"></script>
</head>

{{template "header"}}
<div class="flex items-center justify-center h-screen md:grid md:grid-cols-2 md:gap-4 ">
    {{template "navigation"}}
    democratizing knowledge
    {{template "upload_modal" }}
    {{template "mobile_navigation" }}
</div>

{{template "footer"}}

</html>