{{define "navigation"}}
<div class="hidden md:flex">
    <aside class="bg-base-200 w-80">
        <a href=" /">
            <div class="bg-seconday-200 bg-opacity-90 backdrop-blur sticky top-0 items-center gap-2 px-4 py-2">
                <div class="font-title text-primary inline-flex text-lg transition-all duration-200 md:text-3xl">
                    <span>npeers</span>
                </div>
            </div>
        </a>
        <ul class="menu menu-compact flex flex-col p-0 px-4">
            <li class="menu-title"><span>browse</span></li>
            <li><a href="/category/neuroscience">neuroscience</a></li>
            <li><a href="/category/physics">physics</a></li>
            <li><a href="/category/astronomy">astronomy</a></li>
        </ul>
        <ul class="menu menu-compact flex flex-col p-0 px-4">
            <li class="menu-title"><span>contribute</span></li>
            <li>
                <label for="upload-modal">upload</label>
            </li>
        </ul>
        <ul class="menu menu-compact flex flex-col p-0 px-4">
            <li class="menu-title"><span>about</span></li>
            <li>
            <li><a href="/about/mission">our mission</a></li>
            </li>
        </ul>
    </aside>
</div>
{{end}}